/* styles/page.module.css */

/* ------------------------page.tsx------------------------------- */
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #121212;
}

.container {
  margin-top: 6rem; /* Similar to 'mt-24' in Tailwind */
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem; /* Similar to 'px-12 py-4' */
  max-width: 1200px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Adjust padding for tablets */
    margin-top: 4rem; /* Adjust top margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem; /* Adjust padding for mobile screens */
    margin-top: 3rem; /* Adjust top margin for very small screens */
  }
}















